body {
    background-color: #369;
    font-family: arial;
    * {
        margin: 10px;
    }
}

h2, div {
    color: #ded;
    float: left;
    clear: both;
}

.util {
    float: left;
    width: 100px;
}

.inputIP {
    clear: left;
    float: left;
    width: 200px;
}

.submitIP {
    float: left;
}

.led {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;       
    }

.ledOn {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }